In [17]:
list_numbers = [1,2,3,4,5,6,8,9,0,12,11,11,11,123,134,125]
list_objects =["one", 2, 'green', {"Four":4}, None]
new_number = 7
list_numbers.append(new_number)
new_object = {'Five':5}
list_objects.append(new_object)

print (list_numbers)
print (list_objects)

[1, 2, 3, 4, 5, 6, 8, 9, 0, 12, 11, 123, 134, 125, 7]
['one', 2, 'green', {'Four': 4}, None, {'Five': 5}]

In [18]:
print (list_numbers[0])
print (list_numbers[4])

1
5

In [19]:
print (list_numbers[-1])
print (list_objects[-1])

7
{'Five': 5}

In [27]:
#[1,2,3,4,5,6,8,9,0,12,11,11,11,123,134,125]
#returns the index of the item searched for. First item is always 0 index like in C++
list_numbers.index(12)

9

In [26]:
list_numbers.index(11,8, 12)

10

In [29]:
list_classes = ['Wizard', 'Paladin', 'Cleric', 'Rogue']
list_numbers.append(list_classes)
print (list_numbers)

[1, 2, 3, 4, 5, 6, 8, 9, 0, 12, 11, 123, 134, 125, 7, ['Wizard', 'Paladin', 'Cleric', 'Rogue'], ['Wizard', 'Paladin', 'Cleric', 'Rogue']]

In [32]:
list_races = ['NewList','Human', 'Dwarf', 'Orc', 'Elf']
list_classes.extend(list_races)
print (list_classes)

['Wizard', 'Paladin', 'Cleric', 'Rogue', 'Human', 'Dwarf', 'Orc', 'Elf', 'NewList', 'Human', 'Dwarf', 'Orc', 'Elf']

In [34]:
list_races += list_numbers
print (list_races)

['NewList', 'Human', 'Dwarf', 'Orc', 'Elf', 1, 2, 3, 4, 5, 6, 8, 9, 0, 12, 11, 123, 134, 125, 7, ['Wizard', 'Paladin', 'Cleric', 'Rogue'], ['Wizard', 'Paladin', 'Cleric', 'Rogue', 'Human', 'Dwarf', 'Orc', 'Elf', 'NewList', 'Human', 'Dwarf', 'Orc', 'Elf']]

In [35]:
list_numbers.insert(-1, 45)
print (list_numbers)

[1, 2, 3, 4, 5, 6, 8, 9, 0, 12, 11, 123, 134, 125, 7, ['Wizard', 'Paladin', 'Cleric', 'Rogue'], 45, ['Wizard', 'Paladin', 'Cleric', 'Rogue', 'Human', 'Dwarf', 'Orc', 'Elf', 'NewList', 'Human', 'Dwarf', 'Orc', 'Elf']]

In [36]:
fruits = ['strawberry', 'apple', 'lemon', 'potato', 'cucumber', 'tomato']
fruits.remove('potato')
print(fruits)

['strawberry', 'apple', 'lemon', 'cucumber', 'tomato']

In [40]:
list_numbers.extend(12, 12,13,12,12,12,13,12,12)
list_numbers.count(12)

TypeError: list.extend() takes exactly one argument (9 given)

In [42]:
list_classes.pop(-1)
print(list_classes)

['Wizard', 'Paladin', 'Cleric', 'Rogue', 'Human', 'Dwarf', 'Orc', 'Elf', 'NewList', 'Human', 'Dwarf', 'Orc']

In [44]:
list_classes.pop(list_classes.index('Rogue'))
print(list_classes)

['Wizard', 'Paladin', 'Cleric', 'Human', 'Dwarf', 'Orc', 'Elf', 'NewList', 'Human', 'Dwarf', 'Orc']

In [45]:
list_classes.reverse()
print(list_classes)

['Orc', 'Dwarf', 'Human', 'NewList', 'Elf', 'Orc', 'Dwarf', 'Human', 'Cleric', 'Paladin', 'Wizard']

In [46]:
list = [100, 200, 300]
list2 = list
print (list2)
print (list)
list2.append(500)
print(list)

[100, 200, 300]
[100, 200, 300]
[100, 200, 300, 500]

In [47]:
alphabet = ['a','b','c','d','e','f','g']
print (alphabet)
alphabet.clear
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [53]:
#slicing - below slices from end up to element with index 3
list_of_numbers = [1,2,3,4,5,6,7,8,9,10]
list_of_numbers [:3:-1]
list_of_numbers [:3:1]

[1, 2, 3]

In [54]:
list1 = [100, 200, 400]
list2 = list1
print(list1)
print(list2)
list2=list1[:]
list2.append(500)
print(list1)
print(list2)

[100, 200, 400]
[100, 200, 400]
[100, 200, 400]
[100, 200, 400, 500]

In [55]:
tuple1=(1,2,3)
tuple2 = 1,2.5,"test"

print(tuple1)
print(tuple2)

(1, 2, 3)
(1, 2.5, 'test')

In [56]:
set1 = {1,3,3,4}
set2 = {5,3,7,4}

set1|set2

{1, 2, 3, 4, 5, 6, 7, 8}

In [75]:
set1 = {1,3,3,4}
set2 = {5,3,7,4}

set1 = set1 & set2
print(set1)

{3, 4}