In [2]:
my_set = {0, 1, 2, 3}
my_set.add(12)
print(my_set)

{0, 1, 2, 3, 12}

In [6]:
my_set.remove(3)
print(my_set)

{1, 2, 12}

In [14]:
my_tuple = (1, 2, 3, 4, 5)
n1,n2,n3,n4,n5=my_tuple
print(n1, n2, n3, n4, n5)
print(n1+n2+n3+n4+n5)

1 2 3 4 5
15

In [15]:
set1 ={1,2,3,4}
set2 ={2}
set3 = set1&set2
print(set3)

{2}

In [16]:
x=100+200+\
    10+5+\
        2
print (x)

317

In [17]:
colors =['red',
        'green']
print(colors)

['red', 'green']

In [23]:
if True:
    print("true")
    print("hi")
else:
    print("false")

true
hi

In [22]:
print (100, 200, 300)
print(100, 200, 300, sep = '*')
print(100, 200, 300, sep ='#', end='&')

100 200 300
100*200*300
100#200#300&

In [24]:
print("This is {0} and this is {1}" .format(0,1))
print("This is {1} and this is {0}" .format(0,1))

This is 0 and this is 1
This is 1 and this is 0

In [25]:
#input() always registers a string
val1 = input('Enter a value:')
print("Value is: ", val1)
print("Type is: ", type(val1))

Value is:  123
Type is:  <class 'str'>

In [27]:
val2 = int(val1)
print("Value is: ", val2)
print("Type is: ", type(val2))

Value is:  123
Type is:  <class 'int'>

In [30]:
val3 = val2 +int(val1)
print(val3)

246

In [35]:
import math
print("This is Pi: ", math.pi)

This is Pi:  3.141592653589793

In [36]:
from math import pi
print("This is Pi: ", math.pi)

This is Pi:  3.141592653589793

In [37]:
num = 100
if num > 50:
    print("This is >50 true")
print("this is outside the if")

This is >50 true
this is outside the if

In [38]:
num = 10
if num > 50:
    print("This is >50 true")
print("this is outside the if")

this is outside the if

In [40]:
val1 = 100
val2 = 1000
if (val1>val2):
    print("First value is bigger")
else:
    print("Second value is bigger")

Second value is bigger

In [41]:
val1 = 100
if (val1>0):
    print("First value is positive")
else:
    print("First value is negative")

First value is positive

In [43]:
val1 = 100
if(val1>1000):
    print("Number is > 1000")
elif(val1 >500):
    print("This is the middle ground")
elif(val1>300):
    print("Almost done")
else:
    print("Number is less then 300")

Number is less then 300

In [48]:
val1 = 100
if(val1>=100):
    if(val1<500):
        print("Number is >= 100 <500")
    else:
        print("Number is > 500")
else:
    print("Number is < 100")

Number is >= 100 <500

In [55]:
value = 10
total = 0
counter = 1
while counter <= value:
    print("Inside the loop")
    counter = counter +1
else:
    print("Outside the loop")

Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Outside the loop

In [65]:
value = 0
total = 0
counter = 1
while counter < 10:
    print("Current value is:", value)
    counter = counter +1
    value = value +1
    if (counter == 5):
        print("Continue")
        continue
    print
        
else:
    print("End!")

Current value is: 0
Current value is: 1
Current value is: 2
Current value is: 3
Current value is: 4
Current value is: 5
Current value is: 6
Current value is: 7
Current value is: 8
End!

In [69]:
val1 = 0
numbers = [100, 220, 41, 56, 234, 12, 155, 2, 111]

for val1 in numbers:
    total = total + val1
    print(total)
else:
    print("This is else of for!")

100
320
361
417
651
663
818
820
931
This is else of for!

In [70]:
print (range(12))
print(list(range(12)))
print(list(range(3,12)))
print(list(range(3, 33, 3)))

range(0, 12)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[3, 4, 5, 6, 7, 8, 9, 10, 11]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [75]:
car = ["Audi", "VW", "Citroen"]
for n in range(len(car)):
    print("I like car:", car[n])

I like car: Audi
I like car: VW
I like car: Citroen

In [77]:
for value in "CodeAcademy":
    if value == "A":
        print("the checked value is:", value )
        continue
    print(value)

C
o
d
e
the checked value is: A
c
a
d
e
m
y

In [79]:
sequence = {'C', 'O', 'D', 'E'}
for val1 in sequence:
    pass